@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

// custom style variables
$backgroundColor: linear-gradient(
  to left top,
  #ff9000,
  #ff9b00,
  #ffa600,
  #ffb100,
  #ffbc00
);

.puzzle-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  //   background-color: #e1aa74;
  background-image: $backgroundColor;

  &.title-wrap {
    height: 100px;
  }

  .title-text {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 25px;
    text-shadow: black 3px 3px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}

.audio-El {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.audio-El::-webkit-media-controls-panel {
  background-image: $backgroundColor;
  color: #a7a39c;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-play-button,
.audio-El::-webkit-media-controls-volume-slider-thumb {
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-play-button::after {
  content: "\25B6";
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

/* Additional styling for other browsers */
.audio-El::-webkit-media-controls {
  display: flex;
  align-items: center;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-volume-slider-container {
  margin-right: 10px;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}
