@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

$backgroundColor: linear-gradient(
  to left top,
  #ff9000,
  #ff9b00,
  #ffa600,
  #ffb100,
  #ffbc00
);

.puzzle-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-image: $backgroundColor;

  &.title-wrap {
    height: 100px;
  }

  .title-text {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 25px;
    text-shadow: black 3px 3px;

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: start;
  padding: 0;
  margin: 0;
  width: 360px;
  height: 350px;

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    li {
      padding: 1rem;
      border: solid 1px #96640d;
      border-top: none;
      // border-left: none;
      border-right: none;
    }
  }
}

.audio-El {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.audio-El::-webkit-media-controls-panel {
  background-image: $backgroundColor;
  color: #a7a39c;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-play-button,
.audio-El::-webkit-media-controls-volume-slider-thumb {
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-play-button::after {
  content: "\25B6";
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

/* Additional styling for other browsers */
.audio-El::-webkit-media-controls {
  display: flex;
  align-items: center;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.audio-El::-webkit-media-controls-volume-slider-container {
  margin-right: 10px;
  border-radius: 0px;

  &:hover {
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

.title-wrapper {
  width: 50%;
  height: 50px;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  left: 5px;
  top: 5px;
}

.sharedTitles {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 15px;
  margin: 5px;
  text-decoration: none;
  text-shadow: black 1px 1px;
  transition: all 300ms ease-in-out;

  &:hover {
    text-decoration: underline;
    color: #ff9000;
    font-size: 30px;
    cursor: url("../../assets/custom-hover-cursor.png"), auto;
  }
}

p,
ol {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  margin: 5px;
  width: 50%;
  text-decoration: none;
  text-shadow: black 1px 1px;
  text-align: start;
}

li {
}
