<app-nav-utility></app-nav-utility>
<div class="puzzle-wrapper">
  <div class="title-wrap">
    <h1 class="title-text">about this project</h1>
  </div>
  <p>
    this project was created for McMain project assignment, where i must build a
    4X4 Puzzle but i have took it to other level where i have created a whole
    project. where you can do the following things
  </p>
  <ol>
    <li>play the game</li>
    <li>explore</li>
    <li>check scores</li>
  </ol>

  <br />
  <p>
    i have used the most and newest Angular features and and version, as
    routing, use of pipe, custom pipes, use of reuseable components and styles,
    and many more.
  </p>
</div>
